In [21]:
import pandas as pd
import glob

In [22]:
active = pd.read_table('./Dataset/2289/2289_active.txt')

In [23]:
molecule_descriptor_files = []
for file in glob.glob('./Dataset/2289/2289_inactive_part[0-9]*.txt'):
    molecule_descriptor_files.append(file)

In [24]:
files = []
for file in molecule_descriptor_files:
    f = pd.read_table(file)
    files.append(f)

/opt/packages/python/Python-3.5.2-icc-mkl/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (256,258) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
files.append(active)
allfiles = pd.concat(files)

In [26]:
allfiles.shape

(305029, 779)

In [20]:
allfiles.head()

,ReadIn_ID,USER_ID,D001,D002,D003,D004,D005,D006,D007,D008,...,D768,D769,D770,D771,D772,D773,D774,D775,D776,D777
0,1,6603008,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,4.700,-0.627,0.273,1.574
1,2,6602571,1,0,0,1,2,0,0,0,...,2,0,0,0,0,0,4.907,-0.729,0.240,1.780
2,3,6602616,1,0,0,1,2,0,0,0,...,2,0,0,0,0,0,5.087,-0.196,0.207,2.447
3,4,644371,1,0,0,0,1,1,0,0,...,0,0,0,0,0,0,4.644,-0.787,0.286,2.756
4,5,6603132,2,0,0,0,3,0,0,0,...,0,0,0,0,0,0,5.000,-0.815,0.480,2.421