In [16]:
import pandas as pd
import numpy as np
# from sklearn.decomposition import TruncatedSVD
from scipy import sparse
# from sklearn.manifold import TSNE
from sklearn.decomposition import KernelPCA

In [3]:
molecule_matrix = pd.read_csv('./Dataset/Molecule_matrix_mold2.csv',dtype={'CID':'str'})
CID = np.array(molecule_matrix['CID'])
label = np.array(molecule_matrix['outcome'])
molecule_matrix_ = np.array(molecule_matrix.iloc[:,1:molecule_matrix.shape[1]-1])

In [4]:
label[label=='active']=1
label[label=='inactive']=0
label = label.astype('int')

In [5]:
molecule_matrix.head()

,CID,D001,D002,D003,D004,D005,D006,D007,D008,D009,...,D769,D770,D771,D772,D773,D774,D775,D776,D777,outcome
0,6603008,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,4.700,-0.627,0.273,1.574,inactive
1,6602571,1,0,0,1,2,0,0,0,0,...,0,0,0,0,0,4.907,-0.729,0.240,1.780,inactive
2,6602616,1,0,0,1,2,0,0,0,0,...,0,0,0,0,0,5.087,-0.196,0.207,2.447,inactive
3,644371,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,4.644,-0.787,0.286,2.756,inactive
4,6603132,2,0,0,0,3,0,0,0,0,...,0,0,0,0,0,5.000,-0.815,0.480,2.421,inactive

#### Kernel PCA

In [18]:
kpca = KernelPCA(n_components=2,kernel='cosine',fit_inverse_transform=True,n_jobs=-1)